body{
    background-color: #282c34;
    color: #fff;
}

.container{
    margin-top: 80px;
}

.tb{
    background-color: #282c34;
    color: #fff;
}

.td{
    background-color: #282c34;
    color: #fff;
}

.header{
    background-color: #363A43;
    position: absolute;
    top: 0;
    width: 100%;
    height: 70px;
}

.band{
    align-items: flex-start;
    justify-content: space-between;
    display: flex;
}

.deconection{
    text-align: right;
    margin-top: 15px;
    
}

.user{
    margin-top: 18px;
}

.txt{
    margin-top: 15px;
}

.msgP{
    color: #fff;
}