body{
    background-color: #282c34;
    color: #fff;
}

.container{
    margin-top: 80px;
}

.tb{
    background-color: #282c34;
    color: #fff;
}

.td{
    background-color: #282c34;
    color: #fff;
}
